.about_container {
    height: 350px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_section {
    height: 100%;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.tutorial_card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 10px;
}

.tool_description {
    width: 30%;
    height: 100%;
}

.tool_description:hover {
    border: 2px solid var(--primary-dark-color);
    border-radius: 20px;
}