.about_container {
    height: 350px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_section {
    height: 100%;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tutorial_card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 10px;
}

.tool_description {
    width: 30%;
    height: 100%;
    padding: 24px;
}

.tool_description:hover {
    border-radius: 20px;
    background-color: var(--primary-dark-color);
    cursor: pointer;
}

.tool_description img{
    width: 40px;
    height: 40px;
}