.size_picker {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.picker {
    color: white;
    background-color: var(--tertiary-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 130px;
    gap: 10px;
    border-radius: 10px;
}

.size_picker span {
    white-space: nowrap;
}

/* Mobile settings */
@media (max-width: 450px) {
    .size_picker span {
        font-size: 14px;
    }
    .picker {
        width: 100px;
        gap: 10px;
        border-radius: 6px;
    }
}