:root {
    --font-default: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-color: white;
    --primary-dark-color: #020109;
    --secondary-dark-color: #0e0d17;
    --tertiary-dark-color: #1d1b2e;
    --logo-color: #5e308f;
    --default-page-width: 1100px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-dark-color);
  font-family: var(--font-default);
  color: var(--font-color);
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;      
  font: inherit;       
  line-height: normal; 
  cursor: pointer;
}

input:focus {
  outline: none; 
}

select {
  border: none;      
  outline: none;     
  background: none;  
}

@media (max-width: 1100px) {
  :root {
  --default-page-width: 100%;
}}