.container {
    height: 700px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col_generator {
    height: 100%;
    width: 1100px;
    border-radius: 20px;
    background-color: var(--primary-dark-color);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.settings_qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    row-gap: 30px;
}

.top_row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.qr_code {
    height: 40%;
    width: 100%;
}

.generator_qr {
    height: 20%;
    width: 100%;
}